MYSQL_ROOT_PASSWORD=supersecret
MYSQL_DATABASE=authservice

MYSQL_USER=authuser
MYSQL_PASSWORD=secret
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-auth:3306/authservice
SPRING_DATASOURCE_USERNAME=authuser
SPRING_DATASOURCE_PASSWORD=secret

JWT_EXPIRATION_SECONDS=3600
JWT_KEYSTORE_PASSWORD=Password123!
JWT_KEY_ID=auth-key-1